@import "compass_twitter_bootstrap";

body {
  font-family: 'Roboto', serif;
}

header {
  color: #2C3E50;

  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  padding-bottom: 20px;

  h3 {
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
}

.listObj {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    .undoLink {
        margin-left: 10px;
    }
}

.loginLink {
  font-size: 1.5em;
}

.block {
    display: block;
}

#newListDiv {
  padding-top: 25px;
  padding-bottom: 30px;
  .suggestion {
    padding-left: 10px;

    a {
      cursor: pointer;
    }
  }
  form {
    margin-top: 15px;
  }
}

/* Cal-HeatMap CSS */
.graph
{
  clear: both;
  display: block;
  margin-top: 10px;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
.graph-label
{
  fill: #999;
  font-size: 10px
}
.hidden {
  display: none;
}
.neutral {
  background-color: #eee;
  fill: #eee;
  shape-rendering: crispedges;
}
.green
{
  background-color: #00A550;
  fill: #00A550;
}
.red {
  background-color: #ED1C24;
  fill: #ED1C24;
}
.neutral:hover, .green:hover, .red:hover
{
  stroke: #000;
  stroke-width: 1px;
  cursor: pointer;
}
