@import "compass_twitter_bootstrap";

body {
  font-family: 'Roboto', serif;
}

#mainContainer {
  margin-bottom: 50px;
}

header {
  color: #2C3E50;

  border-bottom: 1px solid #CCC;
  margin-bottom: 15px;
  h1 {
    margin-bottom: -10px;
  }
  h3 {
    margin-bottom: 5px;
  }
  #links {
    margin-top: 20px;
  }
  #logInViewDiv {
    margin-bottom: 15px;
  }
}

.listObj {
  border-bottom: 1px solid #CCC;
}

.headerLink {
  font-size: 1.5em;
  margin-left: 20px;
}

.block {
    display: block;
}

#newListDiv {
  padding-top: 25px;
  padding-bottom: 30px;
  .suggestion {
    padding-left: 10px;

    a {
      cursor: pointer;
    }
  }
  form {
    margin-top: 15px;
  }
}

/* Cal-HeatMap CSS */
.graph
{
  clear: both;
  display: block;
  margin-top: 10px;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
.graph-label
{
  fill: #999;
  font-size: 10px
}
.hidden {
  display: none;
}
svg {
  .neutral {
    background-color: #eee;
    fill: #eee;
    shape-rendering: crispedges;
  }
  .green
  {
    background-color: #00A550;
    fill: #00A550;
  }
  .red {
    background-color: #ED1C24;
    fill: #ED1C24;
  }
  .neutral:hover, .green:hover, .red:hover
  {
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
  }
}

.boxHolder {
  margin-top: 21px;

  .box:last-child {
    padding-right: 7px;
  }
}

.box {
  background-color: #95a5a6;
  color: #ecf0f1;
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  font-size: 2em;
  cursor: pointer;
  padding: 3px 2px 3px 7px;
  margin-right: 10px;
  
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.box.green {
  background-color: #27ae60;
}
.box.red {
  background-color: #c0392b;
}
.box.inactive {
  cursor: default;
  opacity: 0.4;
}
.box.selected {
  background-color: #3498db;
}
#newMetricTextbox {
  margin-top: 12px;
  font-size: 1.5em;
  padding: 10px 5px 4px;
}

#newNoteDiv {
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 100px;

    margin-top: 15px;
  }
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 100px;
}

#notesHeader {
  margin-top: 50px;
}

#metricBtnHolder {
  text-align: right;
  .metricBtn {
    margin-right: 10px;
    margin-top: 10px;
  }
}

.noteAlreadyTaken {
  margin-top: 10px;
  border-bottom: 1px solid #CCC;

  &:last-child {
    border-bottom: 0px solid #CCC;
  }

  h3 {
    margin-top: 0px;
  }
  button { 
    margin-bottom: 10px;
    &.deleteBtn { 
      margin-left: 10px;
    }
  }

}
.medSizeText {
  font-size: 1.3em;
}
