<div id='list{{index}}'>
  <div>
      <h2>{{data.name}}</h2>
  </div>

  <div ng-show='showStatusForToday(index)'>
      How did you do today?
        <button ng-click='statusChange(true)'>{{data.desiredOutcome}}</button>
        <button ng-click='statusChange(false)'>{{data.oppositeOutcome}}</button>
  </div>
  <div ng-hide='showStatusForToday(index)'>
    <div>
      <span ng-show='getStatusForToday(index)'>High five!</span><span ng-hide='getStatusForToday(index)'>:/ Thanks for your honesty</span><a ng-click='undoToday(index)' class='undoLink'>Undo</a>
      </div>
  </div>
  <heatmap index='{{index}}' data='data.days'></heatmap>
</div>
