<header>
  <h1>
    Am I Down?
  </h1>
  <div class='clearfix'>
    <div class='pull-left'>
      <h3>
        Insights into behavioral trends
      </h3>
    </div>
    <div id='links' class='pull-right'>
      <a ng-hide="'home' == curPage" class='headerLink' href='#/home'>Home</a>
      <a ng-hide="'detailed' == curPage" class='headerLink' href='#/detailed'>Detailed</a>
      <a ng-hide="'account' == curPage" class='headerLink' href='#/account'>Settings</a>
      <a class='headerLink' href='logout'>Log out</a>
    </div>
  </div>
</header>

<div class='alert alert-info' ng-show='invited.name'>
  <div ng-hide='accepted'>
    You've received an invitation to hold <span class='bold'>{{invited.name}}</span> accountable. <button ng-click='changeStatus(true)' class='btn'>Accept</button> or <button ng-click='changeStatus(false)' class='btn'>Reject</button>
  </div>
  <div ng-show='accepted'>
    You are successfully connected to {{invited.name}}. <span ng-hide="'account' == curpage">You can view more on the <a href='#/account'>Account</a> page.</span>
  </div>
</div>
