<siteheader cur-page='detailed' invited='invitedData'></siteheader>

<div class='clearfix'>
  <h2 class='pull-left'>Your Metrics:</h2>
  <button id='detailedSaveButton' ng-if='lists.length' class='btn pull-left' ng-click='save()'>Save Changes</button>
</div>

<div ng-switch on='lists.length'>
  <div ng-switch-when='0'>
    <h3>No Metrics Available.</h3>
  </div>
  <div ng-switch-default>

    <div class='listObj' ng-repeat="listObj in lists">
      <div id='list{{$index}}'>
        <div>
            <h3>{{listObj.name}}</h3>
        </div>

        <heatmap index='{{$index}}' data='listObj.days' editable='true'></heatmap>
      </div>
    </div>
  </div>
</div>