<header>
  <h1>
    Am I Down?
  </h1>
  <h3>
    Insights into behavioral trends
  </h3>

  <div id='logInViewDiv'>
    <a class='loginLink' href='auth/facebook'>Log in with Facebook</a>
    <div>
      (I'm sorry - I know nobody wants to sign in with Facebook. Please trust me, I'm not going to do anything with your data - this is just for authentication)
    </div>
  </div>
</header>

<div>
  <h3>Why did I build this?</h3>
  <p>
    To tell the truth, I built this because of porn. My friend Chris and I are Christians and we don't think we should be looking at porn (for a very large number of reasons). Chris set up a spreadsheet on Google Docs when 2013 started and we started tracking each time we looked at porn. When we don't look at porn for a certain amount of time, we go out and get pie.
  </p>
  <p>
    This is basically the same thing as that, but with a shinier front end. You could track a few different metrics to try to find certain trends - different times of the week that the metrics fail, if certain metrics are correlated to other metrics (do I tend to look at porn after I have a fight with my wife? do I tend to look at porn on the weekends? does this change if I spend more time reading the Bible?)
  </p>
  <p>
    In other words... this could be considered an app that tries to get you to answer the question "am I becoming someone that I want to be?"
  </p>

  <h3>Where's the code and an obligatory blog post?</h3>
  <p>
    Code: <a href='https://github.com/davidchang/am-i-down/'>https://github.com/davidchang/am-i-down/</a>
  </p>
  <p>
    Blog post: <a href='davidandsuzi.com/building-am-i-down/'>davidandsuzi.com/building-am-i-down/</a>
  </p>
</div>
