<a href='logout'>Log out</a>

<div class='listObj' ng-repeat="listObj in lists">
    <h2>{{listObj.name}}</h2>
    <div ng-show='showStatusForToday($index)'>
        <span>How did you to today?</span>
        <button ng-click='statusChange($index, false)'>Oops :/</button>
        <button ng-click='statusChange($index, true)'>High five</button>
    </div>
    <div ng-hide='showStatusForToday($index)'>
        Thanks - you've indicated today <span ng-show='getStatusForToday($index)'>was all right</span><span ng-hide='getStatusForToday($index)'>wasn't very good</span><a ng-click='undoToday($index)' class='undoLink'>Undo</a>
    </div>
    <!--<heatmap id='{{$index}}' data='listObj.days'></heatmap>-->
    <a class='block' ng-click='listObj.showBackfill = !listObj.showBackfill'>Backfill data</a>
    <div ng-show='listObj.showBackfill'>
        <input ng-model='listObj.backfillDate' />
        <button ng-click='statusChange($index, false, true)'>-</button>
        <button ng-click='statusChange($index, true, true)'>+</button>
    </div>

    <a class='block' ng-click='listObj.showHistory = !listObj.showHistory'>History</a>
    <div ng-show='listObj.showHistory'>
        <div ng-hide='day.good' ng-repeat='day in listObj.days'>
            {{day.dayTime | date:'MM/dd/yyyy'}}
        </div>
    </div>
</div>

<div ng-show='!showAddNewList' ng-click='showAddNewList = !showAddNewList'><button>Add A New List</button></div>
<form ng-show='showAddNewList'>
    <div>
        <input type='text' ng-model='newName' placeholder='New list'/>
    </div>
    <button ng-click='createNewList()'>Add</button>
</form>
