<div>
  <a href='logout'>Log out</a>
</div>

<div class='listObj' ng-repeat="listObj in lists">
    <div>
        <h2>{{listObj.name}}</h2>
    </div>

    <div ng-show='showStatusForToday($index)'>
        How did you to today?
          <button ng-click='statusChange($index, true)'>{{listObj.desiredOutcome}}</button>
          <button ng-click='statusChange($index, false)'>{{listObj.oppositeOutcome}}</button>
    </div>
    <div ng-hide='showStatusForToday($index)'>
      <div>
        <span ng-show='getStatusForToday($index)'>High five!</span><span ng-hide='getStatusForToday($index)'>:/ Thanks for your honesty</span><a ng-click='undoToday($index)' class='undoLink'>Undo</a>
        </div>
    </div>
    <!--<heatmap id='{{$index}}' data='listObj.days'></heatmap>-->
    <a class='block' ng-click='listObj.showBackfill = !listObj.showBackfill'>Backfill data</a>
    <div ng-show='listObj.showBackfill'>
        <input ng-model='listObj.backfillDate' placeholder='mm/dd/yyyy'/>
        <button ng-click='statusChange($index, false, true)'>{{listObj.desiredOutcome}}</button>
        <button ng-click='statusChange($index, true, true)'>{{listObj.oppositeOutcome}}</button>
    </div>

    <a class='block' ng-click='listObj.showHistory = !listObj.showHistory'>Bad Days</a>
    <div ng-show='listObj.showHistory'>
        <div ng-hide='day.good' ng-repeat='day in listObj.days'>
            {{day.dayTime | date:'MM/dd/yyyy'}}
        </div>
    </div>
</div>

<div id='newListDiv'>
  <h2>Add New List:</h2>
  <form class='form-horizontal' name='newListForm'>
    <div class='control-group'>
      <label class='control-label' for='newName'>List Name:</label>
      <div class='controls'>
        <input id='newName' type='text' ng-model='newList.name' placeholder='Ex: Porn' required/>
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='desiredOutcome'>Desired Outcome:</label>
      <div class='controls'>
        <input id='desiredOutcome' type='text' ng-model='newList.desiredOutcome' placeholder="Ex: Didn't look at porn" required/>
      </div>
    </div>
    <div class='control-group marginBottomFive'>
      <label class='control-label' for='oppositeOutcome'>Opposite Outcome:</label>
      <div class='controls'>
        <input id='oppositeOutcome' type='text' ng-model='newList.oppositeOutcome' placeholder='Ex: Looked at porn' required/>
      </div>
    </div>
    <div class='control-group'>
      <div class='controls'>
        <label class='checkbox marginBottomFive'>
          <input type='checkbox' ng-model='newList.useDesiredAsDefault'>Use Desired Outcome as Default</input>
        </label>
        <button ng-click='createNewList()'>Add</button>
      </div>
    </div>
  </form>
</div>
